// ==============================
// Custom style
// 自定义样式
// ==============================


body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

#header-desktop {
  .header-wrapper {
    padding: 0 0 0 0;
  }

  .theme-switch {
    margin: 0.5rem 0 0.5rem 0.5rem!important;
  }
}

footer {
  margin-top: 4rem;
}

::-webkit-scrollbar {
  //background-color: $code-background-color!important;
  border-radius: 0 0 7px 7px;
  width: .4rem;
  height: .4rem;

  [theme=dark] & {
    background-color: $code-background-color-dark!important;
  }

}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 7px!important;
}

.content {
  h2,
  h3,
  h4 {
    margin-top: 2.5rem!important;
  }

  h5,
  h6 {
    margin-top: 2rem!important;
  }
}

.home {
  .home-profile {
    margin-bottom: 3.5rem;
    border-bottom: gray solid 1px;
  }
}

.featured-image-preview {
  img {
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
  }
}

.section {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  background-color: #5c5c5c;
}

p {
  code {
    background-color: transparent!important;
    font-weight: bold;
  }
}


// For code highlighting
.highlight {
  line-height: 1.5rem!important;
  border-radius: 7px!important;

    .chroma {
      .table-wrapper {
        border-bottom-left-radius: 7px!important;
        border-bottom-right-radius: 7px!important;
      }
    }

  > .chroma {
    border: 1px solid #dcdcdc;
    border-radius: 7px!important;

    .code-header {
      border-radius: 7px 7px 7px 7px !important;
    }

    &.open {
      .code-header {
        border-radius: 7px 7px 0 0 !important;
      }
    }

    [theme=dark] & {
      border: 1px solid #4c4c4c;
    }

  }
}

@media only screen and (max-width: 960px) {
  .header-wrapper {
    padding: 0 1rem 0!important;
  }
}
