// ==============================
// Override Variables
// ==============================


// ========== Global ========== //
// Font and Line Height
$global-font-size: 1.0587rem;

// Color of the hover link
$global-link-hover-color: #FF9666;
$global-link-hover-color-dark: #FF9666;





//// ========== Global ========== //
//// Font and Line Height
//$global-font-size: 1.0587rem;
//
//// Font size of the code
//$code-font-size: 1.1rem;
//
//// Color of the background
//$global-background-color-dark: #1c1c1e;
//
//// Color of the text
//$global-font-color-dark: #dcdcdc;
//
//// Color of the hover link
//$global-link-hover-color: #FF9666;
//$global-link-hover-color-dark: #FF9666;
//
//// Color of the code background
//$code-background-color-dark: #202025;